// Text
.wemail-content-text {

    *:last-child {
        margin-bottom: 0;
    }
}

// Image
.wemail-content-image {

    &.no-image-content {
        padding: 90px 0;
        text-align: center;
        background-color: $wp-body-bg;
        border: 1px solid $wp-border-color;
    }

    & > a {
        display: block;
    }
}

// Social Follow
.social-follow-table {

    td {
        padding: 0 3px;
        line-height: 1;
    }

    a {
        display: block;
        text-decoration: none;
    }

    &.default-icons {
        font-size: 12px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    &.large-icons {
        font-size: 14px;

        td {
            display: block;
            width: 100%;
            margin-bottom: 3px;
            text-align: center;
        }

        img {
            width: 45px;
            height: 45px;
        }
    }

    &.horizontal-icons {
        display: inline-block;
        width: auto;
    }

    &.vertical-icons {
        width: 100%;

        &.default-icons.align-left {
            width: auto;
        }

        &.default-icons.align-center td {
            display: block;
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
        }

        &.default-icons.align-right td {
            text-align: left;

            &.image-container-td {
                width: 24px;
            }
        }
    }
}
