// -----------------------------
// Buttons
// -----------------------------
.button {

    &.button-success {

        @include button-colorized($wp-green);
    }

    &.button-error {

        @include button-colorized($wp-red);
    }

    &.button-warning {

        @include button-colorized($wp-yellow);
    }

    &.button-link {
        text-decoration: none;

        &:hover,
        &:active {
            background-color: transparent;
        }
    }

    &.button-block {
        width: 100%;
    }

    &.button-extra-padding {
        padding: 0 25px;
    }

    &.button-extra-padding-medium {
        padding: 0 18px;
    }
}

.button-group-extra-padding {

    .button {
        padding: 0 25px;
    }
}

.button-group {

    &.button-group-equal-width {
        display: flex !important;

        .button {
            flex: 1;
        }
    }

    .button-menu {
        padding-right: 5px;
        padding-left: 5px;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }
}

.top-right-buttons {
    padding-top: 9px;
}
