.wemail-dropdown {

    .wemail-dropdown-menu {
        border-radius: 0;

        .wemail-dropdown-item {
            padding-right: 1.2rem;
            padding-left: 1.2rem;
            font-size: 13px;
            line-height: 1.5;
            text-decoration: none;

            &:focus,
            &:hover {
                color: #fff;
                background-color: $wp-blue;
            }
        }

        .wemail-dropdown-divider:last-child {
            display: none;
        }
    }
}
