// -----------------------------
// Form
// -----------------------------
input {

    &[type="text"] {
        padding: 4px 5px 5px;
        margin: 0;
        line-height: 1.3;
    }

    &.block {
        display: block;
        width: 100%;
    }
}

.form-table {

    .hint {
        margin: 4px 0 5px;
        font-size: .85em;
        font-style: italic;
        color: rgba(35, 40, 45, .7);
    }

    .list-inline {
        margin-top: 0;
        margin-bottom: 0;

        .list-inline-item {
            margin-bottom: 0;
        }
    }

    .right-floated-link {
        font-size: 80%;
        float: right;
        line-height: 1.8;
        text-decoration: none;
    }
}
