// -----------------------------
// Utilities
// -----------------------------
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-5 {
    margin-right: 5px;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-margin {
    margin: 0;
}

.line-height-0 {
    line-height: 0;
}

.badge-tag {
    display: inline-block;
    padding: 1px 5px 0;
    margin: 0 2px 0 0;
    font-size: 12px;
    line-height: 1.5;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid $wp-border-color-darken;
    border-radius: 15px;
}

.d-block-with-border {
    display: block;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid $wp-border-color;
}
