// WP Admin UI colors
$wp-border-color:           #e5e5e5;
$wp-border-color-darken:    darken(#e5e5e5, 10%);
$wp-input-border-color:     #ddd;
$wp-body-bg:                #f1f1f1;
$wp-blue:                   #0073aa; // a
$wp-blue-alt:               #00a0d2; // a:hover
$wp-red:                    #dc3232; // .notice-error
$wp-red-alt:                #fbeaea; // .notice-error.notice-alt
$wp-green:                  #46b450; // .notice-success
$wp-green-alt:              #ecf7ed; // .notice-success.notice-alt
$wp-yellow:                 #ffb900; // .notice-warning
$wp-yellow-alt:             #fff8e5; // .notice-warning.notice-alt
$wp-pacific-blue:           #00a0d2; // .notice-info
$wp-pacific-blue-alt:       #e5f5fa; // .notice-info.notice-alt
$wp-black:                  #23282d; // #adminmenuwrap
$wp-orange:                 #d54e21; // #adminmenu .update-plugins
