// -----------------------------
// weMail UI
// -----------------------------
.wemail {
    position: relative;

    &[v-cloak] {
        display: none;
    }

    @import "../vendor/bootstrap/bootstrap.scss";
    @import "_multiselect.scss";
    @import "_type.scss";
    @import "_forms.scss";
    @import "_buttons.scss";
    @import "_tables.scss";
    @import "_utilities.scss";
}


// SweetAlert2
@import "~sweetalert2/src/sweetalert2.scss";

h2.swal2-title {
    line-height: 1.2;
}

// FontAwesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
