// FontAwesome
$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome.scss";

.responsive-table {

    & > tbody {

        & > tr {

            & > td {
                position: relative;

                .control-buttons {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    display: none;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    text-align: center;
                    background: fade-out($wp-blue, 0.8);
                    border: 1px dashed $wp-blue;

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -14px 0 0 -61px;
                        line-height: 1;
                        color: #eee;
                        background-color: $wp-black;
                    }

                    i {
                        padding: 8px;
                        cursor: pointer;

                        &.move {
                            cursor: move;
                        }
                    }

                    i:hover {
                        background-color: $wp-blue;
                    }
                }

                &:hover .control-buttons {
                    display: block;
                }
            }
        }
    }
}
