.wemail-review-notice-flex-container {
    background-color: #1A9ED4;
    color: #fff;
    border-left: none;
    border-radius: 3px;
    padding: 1.5%;
}

.wemail-review-notice-flex-container h3 {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 575px;
    height: 24px;

    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.wemail-review-notice-flex-container p {
    width: 725px;
    height: 72px;

    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */


    color: #fff;
}

.wemail-connect-notice-content {
    margin-right: 20%;
    text-align: left;
}

.wemail-review-notice-logo {
    flex-grow: 1;
    margin-right: 2%;
}

.response-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-top: 5px;
    color: white;
}

.review_reposnse_yes {
    color: #1A9ED4;
}

.wemail-review-notice-flex-container > .notice-dismiss:before {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .wemail-review-notice-flex-container {
        display: flex;
    }
}
